body{
  font-family: 'Open Sans', sans-serif;
  background: rgb(255, 255, 255) ;
}
.text-slanted{
  font-family: 'Courgette', cursive;
}
@media(max-width:800px){
  *{
    display: "block" ;
    flex-wrap: wrap ;
    text-align: center;
    box-sizing: border-box;
    margin-left: "50%";
    margin-right: "50%";
    position:"relative";
    
  
    
  }
  .card{
    display:"block";
    box-sizing: border-box;
    margin-left: "50%";
    margin-right: "50%"
  }

}  
