body{
  font-family: 'Open Sans', sans-serif !important;
  background: rgb(255, 255, 255) !important;
}
.text-slanted{
  font-family: 'Courgette', cursive;
}
@media(max-width:800px){
  body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  
    
  }

}  
